In [ ]:
import pandas as pd
import json
from sklearn.cluster import KMeans
import numpy as np

import sys
import os

sys.path.append(os.path.abspath('../'))
from tool import *

## Tool functions

In [3]:
# import yfinance as yf

# def fetch_stock_data(df_full_set, year, mode):
#     # Filter data for the given year
#     df_processed = df_full_set[df_full_set.Year == year]

#     # Get unique tickers
#     tickers = df_processed['tic'].unique().tolist()

#     # Define the period based on the mode
#     if mode == 'in-sample':
#         # In-sample mode: start and end within the same year
#         start_date = f'{year}-01-01'
#         end_date = f'{year}-12-31'
#     elif mode == 'forward':
#         # Forward mode: next two years
#         start_date = f'{year+1}-01-01'
#         end_date = f'{year+2}-12-31'
#     elif mode == 'backtest':
#         # Backtest mode: last 10 years, up until year-1
#         start_date = f'{year-10}-01-01'
#         end_date = f'{year-1}-12-31'
#     else:
#         raise ValueError("Mode must be 'in-sample', 'forward', or 'backtest'")

#     # Fetch historical stock data for all tickers
#     stock_data = yf.download(tickers, threads= False, start=start_date, end=end_date)

#     # Get adjusted close prices
#     close_prices = stock_data['Adj Close']

#     # Drop columns where all values are NaN
#     close_prices = close_prices.dropna(axis=1, how='all')

#     # Calculate daily returns
#     returns = close_prices.pct_change()

#     # Melt the returns DataFrame to long format for merging
#     returns_long = returns.reset_index().melt(id_vars='Date', var_name='tic', value_name='Return')



# # Merge the returns with the original dataframe



#     return returns_long

In [20]:
# def intra_industry_correlations(df, classification_column):
#     intra_matrix = []
#     industry_groups = df.groupby(classification_column)
#     intra_correlations = {}
#     for industry, group in industry_groups:
#         pivot_table = group.pivot(index='Date', columns='tic', values='Return')
#         corr_matrix = pivot_table.corr()
#         # Take the upper triangle of the correlation matrix without the diagonal
#         intra_corr = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool)).stack().mean()
#         intra_correlations[industry] = intra_corr
#     return intra_correlations

In [21]:
# def cluster(target, n_clusters):
#     # Convert to a numpy array
#     X = np.array(target)

#     # Initialize and fit the k-means model
#     kmeans = KMeans(n_clusters=n_clusters, random_state=42)
#     kmeans.fit(X)

#     # Get cluster assignments
#     labels = kmeans.labels_
#     print("Cluster Labels:", labels)

#     # Get cluster centers
#     centers = kmeans.cluster_centers_
#     print("Cluster Centers:", centers)

#     wcss = np.sum((X - centers[labels])**2)
#     print("Within-Cluster Sum of Squares (WCSS):", wcss)

#     return labels

## Load relative data

#### Load item 1 data

In [4]:
file_path = "baseline_data/merged_df_from_item1.csv"
item1_df = pd.read_csv(file_path)
item1_df = item1_df.drop(['Cluster_10', 'Cluster_100'], axis=1)
item1_df.head()

print(len(item1_df['tic'].unique()))

with open("baseline_data/firm_subset.json", "r") as file:
    subset = json.load(file)

item1_df = item1_df[item1_df['tic'].isin(subset)]
len(item1_df['tic'].unique())

1197

534

#### Load return data

In [5]:
returns_long = pd.read_csv("baseline_data/return_for_merged_item1.csv")
returns_long.head()

         Date tic    Return
0  2022-01-03  AA       NaN
1  2022-01-04  AA -0.046885
2  2022-01-05  AA  0.017730
3  2022-01-06  AA -0.001708
4  2022-01-07  AA  0.067066

#### Load financial variables

In [6]:
file_path = "baseline_data/variable_2021.csv"
variable_df = pd.read_csv(file_path)

#### Merge item 1 and financial variables

In [7]:
# Convert the data type
variable_df = variable_df.rename(columns={'cik': 'CIK', 'fyear': 'Year'})

variable_df['CIK'] = variable_df["CIK"].astype("int64")
variable_df['Year'] = variable_df['Year'].astype("int64")

print(variable_df['CIK'].dtype)
print(variable_df['Year'].dtype)
variable_df.head()

int64
int64

,caps,sale,at,ap,bkvlps,ceq,ch,ci,cogs,dp,CIK,Year
0,477.500,1817.100,1573.900,156.400,29.2306,1034.500,53.500,77.400,1470.300,33.100,1750,2021
1,252.989,324.140,416.197,56.242,5.8397,204.554,29.902,4.409,220.018,10.989,3197,2021
2,41.514,0.000,0.284,0.975,-0.0527,-3.011,0.045,-0.614,0.000,0.000,1961,2021
3,11.930,182.088,144.439,8.977,21.8921,77.082,4.843,13.101,113.238,4.049,2098,2021
4,16.913,2025.204,374.703,168.224,36.8280,160.386,97.825,11.888,1975.547,19.797,2178,2021

In [8]:
print(len(item1_df))
merged_df = pd.merge(item1_df, variable_df, how='left', on=['CIK', 'Year'])
print(len(merged_df))
merged_df = merged_df.dropna()
print(len(merged_df))

merged_df.head()

534
534
534

,CIK,Year,Embeddings,tic,caps,sale,at,ap,bkvlps,ceq,ch,ci,cogs,dp
0,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,784.743,2258.586,1857.712,90.090,29.7233,546.909,81.211,342.272,1679.802,149.811
1,1575515,2021,"[-0.023708730936050415, 0.01762891560792923, 0...",SFM,704.701,6099.869,2923.115,145.901,8.6387,959.876,245.287,248.873,3888.815,124.100
2,1125376,2021,"[0.04463111609220505, 0.0018805989529937506, 0...",ENSG,369.760,2627.461,2850.623,58.116,18.4955,1020.768,262.201,197.725,2161.615,55.985
3,1674335,2021,"[-0.0054583558812737465, 0.04776754230260849, ...",JELD,719.451,4771.719,3738.671,418.774,9.3378,842.218,395.596,133.769,3703.208,134.246
4,1023128,2021,"[0.007417375687509775, -0.03694348409771919, -...",LAD,58.300,22831.700,11146.900,235.400,156.8271,4626.400,174.800,1066.000,18572.700,127.300

In [9]:
# Normalization
from sklearn.preprocessing import MaxAbsScaler

scaler = MaxAbsScaler()
variable_columns = variable_df.columns.drop(['CIK', 'Year'])
merged_df[variable_columns] = pd.DataFrame(scaler.fit_transform(merged_df[variable_columns]), columns=variable_columns)
merged_df.head()


# # Normalization
# from sklearn.preprocessing import StandardScaler

# scaler = StandardScaler()
# variable_columns = variable_df.columns.drop(['cik', 'fyear'])
# variable_df[variable_columns] = pd.DataFrame(scaler.fit_transform(variable_df[variable_columns]), columns=variable_columns)
# variable_df.head()


# # Normalization
# from sklearn.preprocessing import PowerTransformer

# scaler = PowerTransformer('yeo-johnson')
# variable_columns = variable_df.columns.drop(['cik', 'fyear'])
# variable_df[variable_columns] = pd.DataFrame(scaler.fit_transform(variable_df[variable_columns]), columns=variable_columns)
# variable_df.head()

,CIK,Year,Embeddings,tic,caps,sale,at,ap,bkvlps,ceq,ch,ci,cogs,dp
0,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,0.006031,0.007853,0.002445,0.001834,0.028747,0.003288,0.003799,0.014841,0.007707,0.006553
1,1575515,2021,"[-0.023708730936050415, 0.01762891560792923, 0...",SFM,0.005416,0.021210,0.003848,0.002970,0.008355,0.005771,0.011475,0.010791,0.017843,0.005428
2,1125376,2021,"[0.04463111609220505, 0.0018805989529937506, 0...",ENSG,0.002842,0.009136,0.003752,0.001183,0.017888,0.006137,0.012267,0.008574,0.009918,0.002449
3,1674335,2021,"[-0.0054583558812737465, 0.04776754230260849, ...",JELD,0.005529,0.016592,0.004921,0.008524,0.009031,0.005063,0.018507,0.005800,0.016991,0.005872
4,1023128,2021,"[0.007417375687509775, -0.03694348409771919, -...",LAD,0.000448,0.079388,0.014673,0.004792,0.151675,0.027814,0.008178,0.046223,0.085217,0.005568

## Experiment1: Embedding only, dimension 1536

In [10]:
embedding_list = list(merged_df['Embeddings'].apply(json.loads))
len(embedding_list)

534

In [11]:
labels_10 = cluster(embedding_list, 10)
merged_df['Cluster_10'] = labels_10
labels_100 = cluster(embedding_list, 100)
merged_df['Cluster_100'] = labels_100
merged_df.head()

Cluster Labels: [8 4 2 8 3 5 8 4 8 8 7 0 4 8 8 3 5 9 8 5 8 2 1 9 8 5 2 1 3 8 5 1 4 8 5 6 4
 8 1 0 7 1 2 2 9 8 4 8 9 7 0 8 5 4 0 5 9 4 5 9 9 3 5 9 1 1 3 5 9 0 3 5 9 4
 4 2 3 8 3 5 4 9 5 1 4 4 2 1 8 5 4 1 7 8 8 4 8 3 4 8 2 7 2 9 4 8 5 8 9 9 7
 4 9 7 8 4 5 8 7 2 9 8 7 1 1 7 7 5 1 0 1 4 6 8 3 7 7 6 8 5 4 4 5 0 1 9 7 3
 3 3 8 1 3 8 2 0 3 3 3 9 3 6 9 5 8 2 9 1 5 4 3 8 7 8 8 7 3 7 6 5 4 2 8 2 5
 8 8 2 5 4 4 2 5 4 9 2 7 8 8 1 0 9 7 9 5 1 1 5 5 1 4 9 8 1 1 4 7 8 7 0 7 4
 8 7 4 2 8 1 5 7 2 2 4 3 8 5 1 9 5 5 7 1 6 6 7 7 5 6 2 4 3 8 2 0 8 4 4 5 5
 9 1 9 0 5 2 4 1 3 5 7 4 8 7 9 8 4 3 1 8 1 4 9 4 8 2 2 2 9 2 2 4 7 1 4 1 9
 4 7 8 1 5 5 4 8 8 0 3 7 8 7 7 9 8 5 7 2 2 8 6 4 5 2 8 8 2 7 5 2 3 7 7 9 4
 8 8 2 2 9 7 3 8 4 1 3 4 3 7 5 0 4 4 8 3 8 5 6 4 6 4 7 7 7 3 0 5 9 4 9 8 3
 2 1 5 9 9 9 9 7 8 1 1 8 6 9 9 8 8 9 8 7 2 4 3 7 8 8 8 3 9 8 4 4 0 9 9 5 2
 5 1 1 7 4 5 8 2 5 8 7 8 8 4 8 5 2 3 7 7 9 8 3 6 8 4 8 2 1 3 8 4 4 2 9 5 3
 2 5 3 1 8 5 1 8 4 1 8 5 8 5 0 8 4 0 5 7 3 8 8 8 7 4 5 9 2 5 5 1 8 5 3 2 9
 8 8 5 0 8 9 2 9 1 3 4 6 4 1 7 2 7 2 3 4 7 3 7 4 8 1 4 4 7 3 2 4 9 7 2 9 6
 5 5 3 9 7 3 7 1 8 4 6 6 9 1 1 8]
Cluster Centers: [[-0.01094644  0.01837494  0.04367192 ...  0.00651653  0.01877352
   0.02434858]
 [-0.00568798  0.01909357  0.04355488 ...  0.00597473  0.02085593
   0.01520522]
 [ 0.00098981  0.0058823   0.04445785 ...  0.01116575  0.01785055
   0.02031557]
 ...
 [-0.01202286  0.00906027  0.03723979 ...  0.0079787   0.01207921
   0.01545356]
 [ 0.00227832  0.01213355  0.03924076 ...  0.00289671  0.01398424
   0.01976573]
 [-0.00539377  0.003667    0.04869224 ...  0.00051998  0.01303492
   0.01793367]]
Within-Cluster Sum of Squares (WCSS): 223.34717679407464
Cluster Labels: [72 23 28 19 34 42 56 23 57 55 26 63 17 27 60 59 67 21 27 33 56 28 23 58
  7 81 86 37 12 82 71 61  6 88 59 83 14 13 43 62 73 43 28 50 98 10 37 55
 97 44 62  7 61 37 26 33 84 93 67 45 45 70 12 28 15 49 34 19 74  0 83  7
 47 23 93 11 78 26 83 99  6 54 33  1 87 17  4 95 27 19 40 21 26 88 56 40
 56  8 31 50 41 51 20 43 50  5 33 77 47 45 73 86 29 12 18 50 33 56 78 28
 45 50 44 21 21 30 44 33 21 62 79 96 32 27 39 91 24 65  8  8 14 61 33 48
 79 43 44 83 34  7 82 25 44 13  4 48  2 65 78 58 26 74 67 71 50 41 19 89
  8 93 83 50  8 55 52  8 33 92 74 70 50 85 27 19 70 66 72 28 33  9 31 28
 64  9 74 20 10 38 27 15  0 98 44 74 67 21 21 59 19 49 96 30 68 49 35 83
 83 18 12  0 53  9 35 77 23 28 50 49 39 44 41 41 82 34  2 19 95 45 33 33
 12 21 32  3 83  8 61 32 18 50 83  7 85 92 51 93 17 33 20 29 86 97 62 39
 20 37 90 19 59  1 23 55 27 84 22 14 59 21 27  3 23 49 50 18 28 41 41 54
 20 20 37 12 95 90 15 54 93 35 26 89 33 19 76 27 22 63 59 44 23 12 69 46
 10 77 12 20 28  8 32  9 19 41 27 18 20 91 70  4  5 44 26 94 50 66 55  4
 80  3 35  2 72 50 74 64 40 34 26 77  0 93 93 55 36 18 33 74  9  3 50 92
 12 77 78 51 33 29 17 45 59 36 28 67 67 45 84 43 47 92 57 89 79 18 16  8
 89 50 26 46  7 44 85 23 56  8 55 55 38 64 43 56 37 93 26 45 43 45 28 67
 21 90 43 80 45  7 20 67  5 26 55 56 96 82 45 28 70 44 12 46 10 83 43 97
  9 88 41 67 27 55 23 37 11 42 19  2 85 19 59 89 23 33 37 50 23 28 77 70
 13 33 92  7 14 12 67  8 83 50 82 27 44 31  8 45 28 99 33 79 72 98 59  4
 29 27 60 19 63 18 47 20 45  3 36 23 32 23 49 44 28 44 11 83  9 64 78 12
 90 64 75 50 40 73 78 28 37 42 53 28 42 32  8  7 83 45 51 78 64 89 57  9
 81 32 47 79 15 66]
Cluster Centers: [[-0.00875048  0.0185424   0.04840055 ...  0.02286651  0.01621179
   0.02233788]
 [ 0.02353169  0.04046443  0.05912619 ...  0.02296604  0.03261501
   0.01408171]
 [-0.00286692  0.00386784  0.0334451  ...  0.02394341  0.01329443
   0.02362403]
 ...
 [-0.00184056  0.02331127  0.03659552 ...  0.00331514  0.0146948
   0.00994494]
 [-0.01597016  0.00976912  0.07346351 ...  0.01988007  0.0258729
   0.0175303 ]
 [-0.01673459  0.02881349  0.08277472 ...  0.01115837  0.01005537
   0.01890403]]
Within-Cluster Sum of Squares (WCSS): 153.63957952143184

,CIK,Year,Embeddings,tic,caps,sale,at,ap,bkvlps,ceq,ch,ci,cogs,dp,Cluster_10,Cluster_100
0,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,0.006031,0.007853,0.002445,0.001834,0.028747,0.003288,0.003799,0.014841,0.007707,0.006553,8,72
1,1575515,2021,"[-0.023708730936050415, 0.01762891560792923, 0...",SFM,0.005416,0.021210,0.003848,0.002970,0.008355,0.005771,0.011475,0.010791,0.017843,0.005428,4,23
2,1125376,2021,"[0.04463111609220505, 0.0018805989529937506, 0...",ENSG,0.002842,0.009136,0.003752,0.001183,0.017888,0.006137,0.012267,0.008574,0.009918,0.002449,2,28
3,1674335,2021,"[-0.0054583558812737465, 0.04776754230260849, ...",JELD,0.005529,0.016592,0.004921,0.008524,0.009031,0.005063,0.018507,0.005800,0.016991,0.005872,8,19
4,1023128,2021,"[0.007417375687509775, -0.03694348409771919, -...",LAD,0.000448,0.079388,0.014673,0.004792,0.151675,0.027814,0.008178,0.046223,0.085217,0.005568,3,34

In [31]:
df_returns = pd.merge(merged_df, returns_long, on='tic', how='inner')
print(len(df_returns['tic'].unique()))
df_returns.head()

534

,CIK,Year,Embeddings,tic,caps,sale,at,ap,bkvlps,ceq,ch,ci,cogs,dp,Cluster_10,Cluster_100,Date,Return
0,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,-0.092269,-0.065152,-0.104331,-0.043879,0.512625,-0.123576,-0.149964,0.009492,-0.037193,-0.044028,8,72,2022-01-03,NaN
1,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,-0.092269,-0.065152,-0.104331,-0.043879,0.512625,-0.123576,-0.149964,0.009492,-0.037193,-0.044028,8,72,2022-01-04,0.016987
2,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,-0.092269,-0.065152,-0.104331,-0.043879,0.512625,-0.123576,-0.149964,0.009492,-0.037193,-0.044028,8,72,2022-01-05,-0.019981
3,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,-0.092269,-0.065152,-0.104331,-0.043879,0.512625,-0.123576,-0.149964,0.009492,-0.037193,-0.044028,8,72,2022-01-06,0.001434
4,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,-0.092269,-0.065152,-0.104331,-0.043879,0.512625,-0.123576,-0.149964,0.009492,-0.037193,-0.044028,8,72,2022-01-07,-0.002704

In [32]:
intra_corrs_10 = intra_industry_correlations(df_returns, "Cluster_10")
avg_intra_corr_10 = np.nanmean(list(intra_corrs_10.values()))
print(avg_intra_corr_10)

intra_corrs_100 = intra_industry_correlations(df_returns, "Cluster_100")
avg_intra_corr_100 = np.nanmean(list(intra_corrs_100.values()))
print(avg_intra_corr_100)

0.3472796232527919
0.4172189683301795

## Experiment2: Embedding only, dimension 20

In [96]:
from sklearn.decomposition import PCA
embedding_list = list(merged_df['Embeddings'].apply(json.loads))

pca = PCA(n_components=20)
embedding_pca = pca.fit_transform(embedding_list)
embedding_pca = np.array(embedding_pca)
embedding_pca.shape

(534, 20)

In [97]:
labels_10 = cluster(embedding_pca, 10)
merged_df['Cluster_10'] = labels_10
labels_100 = cluster(embedding_pca, 100)
merged_df['Cluster_100'] = labels_100
merged_df.head()

Cluster Labels: [4 6 2 7 5 8 3 6 7 7 9 0 6 4 0 3 9 8 4 3 7 2 6 8 4 3 2 1 5 5 3 9 1 4 3 5 6
 0 9 0 4 9 2 2 8 7 1 6 8 5 0 3 7 1 0 3 9 1 9 8 8 5 7 8 9 9 5 3 8 0 5 3 8 6
 1 2 5 0 5 3 1 8 3 9 1 6 2 9 4 3 1 9 0 4 6 1 4 5 6 6 2 0 2 8 7 7 3 4 8 8 4
 6 8 4 6 6 3 3 0 2 8 7 5 9 9 8 5 3 9 0 9 1 8 4 5 9 5 7 4 3 6 1 3 0 9 8 5 5
 5 3 6 9 5 0 2 0 5 5 5 8 5 8 9 3 4 2 8 9 3 1 5 6 7 6 7 4 3 1 8 3 7 2 3 2 3
 4 4 2 3 1 1 2 5 1 8 2 5 3 4 9 0 8 5 8 3 9 9 3 3 9 1 8 7 7 7 1 5 3 7 4 5 1
 7 3 6 2 7 8 3 5 2 2 6 5 3 3 9 8 3 3 5 9 8 8 5 7 7 8 2 1 5 3 2 0 4 1 6 3 3
 8 1 8 0 5 2 1 9 5 3 5 6 7 5 8 4 6 5 9 7 9 6 8 7 6 2 2 2 8 2 2 1 7 9 1 9 8
 1 7 4 9 3 3 1 4 4 0 3 5 6 5 5 5 7 3 5 2 2 7 8 1 3 2 7 7 2 9 3 2 3 5 0 8 1
 4 7 2 2 8 7 5 4 6 8 5 1 5 5 3 0 1 1 7 5 6 3 8 1 9 1 0 5 4 5 4 3 8 6 8 6 5
 2 9 9 8 8 8 8 0 7 9 9 3 9 8 8 0 0 1 4 5 2 1 3 7 3 7 3 5 8 7 1 1 0 8 8 8 2
 9 9 9 5 6 8 4 2 3 3 4 7 3 1 6 3 2 5 5 5 8 7 5 8 3 1 6 2 9 5 7 1 1 2 8 3 5
 2 3 3 8 6 3 7 7 6 9 4 5 0 3 0 3 6 0 9 4 7 7 6 4 5 1 3 8 2 8 3 9 4 5 3 2 8
 4 6 3 0 6 8 2 8 7 5 6 5 6 8 5 2 5 2 5 1 5 5 8 1 7 9 7 1 4 5 2 1 8 5 2 8 8
 3 3 5 8 4 5 5 9 7 1 9 8 8 9 9 4]
Cluster Centers: [[-9.23880456e-02 -9.98641337e-02 -9.72660292e-02  1.70262797e-01
   3.01727013e-02 -1.16445909e-03 -6.10167620e-02 -4.36757297e-02
   1.03252022e-01  9.44913158e-02 -2.42297767e-02 -1.48660711e-02
   3.18544391e-02 -6.32305681e-02  3.24883134e-02 -1.93603154e-02
   3.41068190e-02  2.46710880e-02 -3.44281556e-02  7.27961644e-03]
 [ 2.27436586e-01 -6.17151561e-02  1.19950381e-01 -4.07488837e-02
  -1.90561514e-02  1.88928816e-02  8.70961500e-03 -1.70396381e-02
   8.82999592e-02 -9.46361774e-03 -4.30376002e-03 -3.52856783e-02
   1.77939101e-02 -2.19854382e-02 -1.83175753e-02  2.16936379e-02
  -1.50974639e-02  2.09200836e-02 -8.87943475e-03 -1.27709224e-02]
 [-3.22955638e-02  2.46557101e-01  5.47104850e-02  8.17856051e-02
  -1.09103967e-01 -1.27991511e-01 -2.19256353e-02 -1.20423965e-02
   2.18445993e-02 -6.28675560e-03 -1.40856572e-02  1.90746589e-03
  -2.24996281e-02  2.82057456e-02 -1.95919937e-02 -2.15736626e-03
   1.70623196e-03 -1.96618536e-02  4.62998182e-03 -9.81819442e-03]
 [-1.67063443e-01  4.67649030e-02  2.39226453e-02 -9.27029439e-02
   2.38422122e-02  5.36023617e-02  5.94936200e-04 -4.04660223e-02
   1.17614844e-02 -9.45655939e-03  1.77595547e-02  2.22927298e-02
   3.77445457e-03  9.88521903e-03 -5.46069436e-03 -1.03500775e-02
  -4.24572657e-04 -3.24523677e-04  1.59436646e-03 -7.65994090e-03]
 [-1.37042121e-01 -1.13622931e-01 -3.00731063e-02  1.38215317e-01
  -1.70885369e-03  5.08181121e-02  4.53596987e-02  1.75396526e-02
   2.71321427e-03 -6.03258408e-02 -4.87438283e-02 -2.39136041e-02
   5.54992320e-03  6.68709384e-03 -3.29623051e-02 -4.90853173e-03
  -1.86798526e-02  2.05602597e-02  1.50417094e-02  1.93365969e-03]
 [-1.09578321e-02 -1.21796261e-01 -8.14705558e-02 -1.00592800e-01
  -3.18850135e-02 -8.18536174e-02 -6.57245389e-02 -2.08187382e-02
  -3.64888427e-02 -2.31800897e-02 -1.22806540e-02 -3.13948193e-02
  -1.65753584e-02  4.24055570e-03  5.94342848e-03 -7.16431314e-03
  -9.41870313e-03 -1.84266762e-02  2.17667326e-03  2.65363460e-03]
 [ 4.19533541e-02 -7.62439777e-02  1.89002603e-01  8.99458837e-02
   8.46905743e-02 -2.82101688e-02 -3.50071506e-02  8.20035522e-03
  -5.16754277e-02 -3.07133373e-02  2.11574770e-02  7.46442077e-02
  -6.18706769e-03 -5.23482184e-03 -6.68647828e-03 -1.19123220e-02
  -1.14133091e-02 -2.29451238e-02 -5.68044569e-03  4.38913928e-02]
 [-3.75202962e-02 -7.93171532e-02  5.48014989e-02 -2.54871147e-02
  -3.20849584e-02  7.99543329e-03  1.22672928e-01  3.58587522e-02
   2.56211500e-03  3.56128462e-02  5.13575829e-02 -5.78258196e-03
  -1.96142669e-02  3.91152762e-02  3.92519980e-02  2.78349682e-02
   3.58494610e-02 -1.43816189e-03 -1.47765056e-02 -9.29023439e-03]
 [ 4.79148910e-02  1.15205908e-01 -7.42688185e-02 -2.25728249e-02
   6.93267071e-02  1.52280858e-02  1.96550035e-02  8.55127921e-02
  -3.10567807e-02  1.33202606e-02  8.73326076e-04 -2.57054972e-02
   2.41218037e-02 -6.49136730e-02  7.09136991e-03  2.72134010e-02
  -1.91999831e-03 -5.71810466e-03  1.88974061e-02 -3.77013994e-04]
 [ 1.61225308e-01  5.39233713e-02 -9.57320107e-02  1.90919718e-02
  -1.33502459e-02  1.06134234e-01 -5.91367077e-03 -3.33253251e-02
  -4.64167460e-02  2.64112170e-02 -3.97604858e-03  5.62618913e-02
  -9.03664803e-03  6.31724231e-02 -9.38831248e-05 -3.33239992e-02
  -2.65969841e-04  2.43586826e-02 -1.38051323e-03 -2.71168728e-03]]
Within-Cluster Sum of Squares (WCSS): 60.82092339042002
Cluster Labels: [40 79 74 12 81 71 76 79 36 44 25  7 52 40 77 37 25 93 49 31 49 24 96 42
 86 71 51 56 84 70 82 89 59 68 60 59 19 50 93 98  7 93 24 87 14 73 95 91
 10 15 23 17 12 53 50 31 42 56 22 13 66 45 34 96 89 43 30 84 44 23 30 99
 13 19 56 87 37 77 45 50 59 73 33 24 56 65  8 35 49 33  9 93 28 68 76  9
 76 84 19  3  8  7 16 10 12 73 31 44 80 96  5  3 97 44 21  3 33 76 46 74
 88 44 15 93 27  5 15 33 27 98 32 56 97 49 47 69 15 29 23 23 79 73 31  7
 64  6 15 48 81 99 91 22  4 50  8  7 84 81  4 80 60 57 22 31 21 20 96 64
 33  9 45  3 63 21 36 23 60 94 13 34 92 20 34  8 66 39 39 74 31 42 11 24
 34 51  6 54 38 41 23 89  0 96 15  6 22 93 27  5 14 43 53 58 90 55 18 53
 15 83 90 44 38 53 55 67 79 74 12 43 66 15  8  8 79 81 82 33 35 66 33 33
 83 27 61 43 78 82 12 57 20 53 30 84 54 23 46 56 52 26 33 42 11 85 50  5
 20 95 35 83 60  5 19 55  5 42 40 19 60 27 46 66 91 18 92 65 74 20  8 42
 54 20 95 78 35 11 89 10  9 78 77 64 14 33  1 39 40  7 60 15 91 15 38 48
 21 34 63 20 74 55 97 53 34  8 44 21 20 69 34 20 34 15 37 66 51 39 76  8
 51 66 78 47 40  3 13 83  9 81 37 14  0  9 53 55 70 21 33 18  9 29  9 94
  4  7 45  7 31 80 65 71 21 70 16 22 25 71 88 42 80 46 36 32 89 85 69 49
 66 39 77 56 86 15 54 11 47 23  6 21 41 90 13 76 95 56 98 66 10 66 16 22
 93 11 44 79 71 49 54 31 73 28 21 49 19 77 71 16 45 15 63  6 73  4 13 85
  9 68  8 22  4 55 11  9 87 88 33 60 54 34 60 66 65 31 55 21 38 24 39 62
 46 14 94 34 65  7 25 23 83 76 72 50 15 11 50 58  8 66 33 64 40 62 60  8
 97 40 91 34  0 21 71 20 96 73 70 19 97 19 43 15 24 15 87 30 56 67  4 75
 11 90 27 36  1  5  4 74 53 42 38 24 42 97  2 21 81 96  7  4 49 64 36  9
 61 61 80 32 89 39]
Cluster Centers: [[-4.17450423e-02 -9.29035175e-02 -1.98665637e-01 ...  1.03697118e-01
  -8.15340421e-02  4.63844385e-02]
 [ 1.69855480e-01  8.48968737e-04  1.24241698e-01 ...  3.14058849e-02
   2.85720943e-03 -5.03079645e-02]
 [-1.85486290e-01  7.75583378e-02 -7.04101310e-02 ...  8.14380882e-02
   4.09730944e-02  5.26694359e-02]
 ...
 [ 3.10326789e-02  6.27916202e-02 -8.13694147e-02 ... -2.91673796e-02
   1.07979099e-01  8.83913379e-02]
 [-1.97618909e-01  8.89260342e-05 -6.43817995e-02 ...  1.27423209e-01
  -4.13409816e-02  1.05264234e-01]
 [-2.77765805e-01 -4.28222024e-02 -7.58510720e-03 ...  1.26231051e-01
   1.07107033e-02 -9.10520764e-02]]
Within-Cluster Sum of Squares (WCSS): 29.727920516036896

,CIK,Year,Embeddings,tic,caps,sale,at,ap,bkvlps,ceq,ch,ci,cogs,dp,Cluster_10,Cluster_100
0,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,0.006031,0.007853,0.002445,0.001834,0.028747,0.003288,0.003799,0.014841,0.007707,0.006553,4,40
1,1575515,2021,"[-0.023708730936050415, 0.01762891560792923, 0...",SFM,0.005416,0.021210,0.003848,0.002970,0.008355,0.005771,0.011475,0.010791,0.017843,0.005428,6,79
2,1125376,2021,"[0.04463111609220505, 0.0018805989529937506, 0...",ENSG,0.002842,0.009136,0.003752,0.001183,0.017888,0.006137,0.012267,0.008574,0.009918,0.002449,2,74
3,1674335,2021,"[-0.0054583558812737465, 0.04776754230260849, ...",JELD,0.005529,0.016592,0.004921,0.008524,0.009031,0.005063,0.018507,0.005800,0.016991,0.005872,7,12
4,1023128,2021,"[0.007417375687509775, -0.03694348409771919, -...",LAD,0.000448,0.079388,0.014673,0.004792,0.151675,0.027814,0.008178,0.046223,0.085217,0.005568,5,81

In [98]:
df_returns = pd.merge(merged_df, returns_long, on='tic', how='inner')
print(len(df_returns['tic'].unique()))
df_returns.head()

534

,CIK,Year,Embeddings,tic,caps,sale,at,ap,bkvlps,ceq,ch,ci,cogs,dp,Cluster_10,Cluster_100,Date,Return
0,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,0.006031,0.007853,0.002445,0.001834,0.028747,0.003288,0.003799,0.014841,0.007707,0.006553,4,40,2022-01-03,NaN
1,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,0.006031,0.007853,0.002445,0.001834,0.028747,0.003288,0.003799,0.014841,0.007707,0.006553,4,40,2022-01-04,0.016987
2,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,0.006031,0.007853,0.002445,0.001834,0.028747,0.003288,0.003799,0.014841,0.007707,0.006553,4,40,2022-01-05,-0.019981
3,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,0.006031,0.007853,0.002445,0.001834,0.028747,0.003288,0.003799,0.014841,0.007707,0.006553,4,40,2022-01-06,0.001434
4,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,0.006031,0.007853,0.002445,0.001834,0.028747,0.003288,0.003799,0.014841,0.007707,0.006553,4,40,2022-01-07,-0.002704

In [99]:
intra_corrs_10 = intra_industry_correlations(df_returns, "Cluster_10")
avg_intra_corr_10 = np.nanmean(list(intra_corrs_10.values()))
print(avg_intra_corr_10)

intra_corrs_100 = intra_industry_correlations(df_returns, "Cluster_100")
avg_intra_corr_100 = np.nanmean(list(intra_corrs_100.values()))
print(avg_intra_corr_100)

0.34061087781046295
0.4031728536482857

## Experiment3: Embedding + financial data, embedding dimension 10

In [115]:
from sklearn.decomposition import PCA
embedding_list = list(merged_df['Embeddings'].apply(json.loads))

pca = PCA(n_components=10)
embedding_pca = pca.fit_transform(embedding_list)
embedding_pca = np.array(embedding_pca)
embedding_pca.shape

(534, 10)

In [116]:
v_np = merged_df[variable_columns].to_numpy()

concatenated_array = np.concatenate((embedding_pca, v_np), axis=1)
concatenated_array.shape

(534, 20)

In [117]:
labels_10 = cluster(concatenated_array, 10)
merged_df['Cluster_10'] = labels_10
labels_100 = cluster(concatenated_array, 100)
merged_df['Cluster_100'] = labels_100
merged_df.head()

Cluster Labels: [0 6 7 2 8 4 2 6 2 5 1 0 3 5 0 8 9 4 2 4 2 7 1 4 2 4 7 6 8 5 2 1 6 0 2 8 5
 0 1 0 0 1 7 3 4 5 6 5 4 8 4 2 6 3 0 4 4 6 4 3 4 8 2 4 1 1 8 2 4 0 8 2 1 5
 6 7 8 0 8 0 6 1 2 1 6 3 7 1 2 2 6 1 0 5 5 6 5 8 6 5 7 0 7 4 6 2 2 0 1 4 0
 6 1 0 5 5 4 2 0 7 4 5 8 1 1 4 8 2 1 0 1 6 1 2 8 1 8 1 0 2 5 6 2 0 1 4 8 8
 8 2 5 4 8 5 7 0 8 8 8 4 9 1 4 2 5 7 4 1 2 6 8 5 8 5 5 0 2 6 1 4 5 7 2 7 2
 5 0 7 2 6 6 7 4 6 4 7 8 2 2 1 0 4 8 4 4 1 1 2 2 1 6 4 0 1 1 6 8 2 2 0 8 6
 0 4 6 7 5 1 4 3 7 7 5 8 2 2 1 4 2 2 8 1 1 1 8 0 6 9 7 6 8 2 3 0 0 6 5 2 2
 4 6 4 0 8 7 6 6 2 2 8 6 5 8 4 0 5 8 1 0 1 6 1 6 5 7 7 7 4 7 7 3 8 1 6 1 1
 6 8 0 1 2 2 6 5 0 0 2 8 5 8 8 1 5 2 8 7 7 2 1 6 2 7 5 5 7 1 2 7 2 8 0 4 6
 2 5 7 7 4 8 8 0 5 1 8 6 8 8 2 0 6 6 5 8 5 2 1 6 1 6 0 8 0 8 0 2 4 5 4 5 8
 3 1 9 4 4 1 4 0 6 1 1 5 1 4 4 0 0 1 0 8 7 6 2 5 2 5 2 8 1 5 6 6 0 4 4 4 7
 4 1 6 8 6 4 5 7 4 2 0 5 2 6 5 4 7 8 8 8 1 5 8 4 5 6 5 7 1 8 5 6 6 7 4 2 8
 9 2 2 1 5 2 1 5 5 1 0 8 0 2 3 2 5 0 4 0 8 5 5 2 8 6 2 4 7 4 2 1 0 8 2 7 1
 0 5 2 0 5 4 7 4 1 3 6 1 6 1 8 7 8 7 8 6 8 8 1 6 2 1 6 6 0 8 7 6 4 8 7 4 4
 2 5 8 4 0 8 8 1 2 6 1 1 4 1 1 5]
Cluster Centers: [[-0.10260904 -0.09993231 -0.09337353  0.16058121  0.01535259  0.01808422
   0.01086663 -0.02795187  0.06491319  0.0210648   0.0129253   0.00747497
   0.00526124  0.0048677   0.02232807  0.00972626  0.01112885  0.00461881
   0.00695414  0.00836351]
 [ 0.13287901  0.04587304 -0.08445458  0.02514018 -0.0487108   0.07153895
   0.01731851  0.02266163 -0.0601418   0.03302021  0.01564045  0.01725006
   0.0177264   0.01379758  0.06717029  0.01786176  0.05231442  0.01837229
   0.01558281  0.01102879]
 [-0.17678589  0.00828604  0.0347927  -0.0780417  -0.00764945  0.04568233
   0.018839   -0.03397093 -0.00170195 -0.003889    0.00822672  0.01178957
   0.00588222  0.00793371  0.02035224  0.00976147  0.02565491  0.01625383
   0.01012859  0.00648771]
 [ 0.07673047  0.0233692   0.07459722 -0.00217422  0.07923388 -0.0582493
  -0.05708617  0.05431082 -0.01984037  0.06430293  0.15879159  0.36557784
   0.15065729  0.25433116  0.02665579  0.19181134  0.38938012  0.59170536
   0.3058574   0.15807891]
 [ 0.01930531  0.1265831  -0.07604628 -0.05278132  0.11955695  0.03008061
   0.01239373  0.04323821  0.00881184 -0.01206728  0.03895277  0.02871519
   0.02799872  0.01542895  0.0213723   0.02680783  0.05461569  0.04061106
   0.0232132   0.02603893]
 [-0.05506838 -0.08826869  0.14721493  0.06485945  0.05153367  0.00518124
   0.0134155   0.06099927 -0.04368906 -0.00491077  0.03909367  0.04358472
   0.02171644  0.03465608  0.0270076   0.04121728  0.04053337  0.0594391
   0.04146803  0.02108314]
 [ 0.20291616 -0.06488862  0.13150535 -0.02390773 -0.00769303  0.00707718
   0.00988533 -0.03254147  0.06922265 -0.00967359  0.00669742  0.01989934
   0.00575428  0.00932001  0.01322313  0.00660924  0.02142434  0.01630794
   0.01639226  0.00670153]
 [-0.03553601  0.24543397  0.04841705  0.08191305 -0.11393742 -0.13102678
  -0.01398728 -0.02052409  0.02636185 -0.01823849  0.0174029   0.01600843
   0.01014336  0.00521261  0.02335249  0.02040196  0.02463047  0.0204219
   0.01115841  0.01191851]
 [-0.01289288 -0.12489407 -0.08290548 -0.10312915 -0.04097588 -0.08202018
  -0.05153089 -0.02148661 -0.02790684 -0.02110245  0.01182925  0.02497104
   0.00970325  0.01366618  0.03278745  0.01497452  0.02173182  0.0246156
   0.02395683  0.01169407]
 [ 0.02611656  0.13657853 -0.04895259 -0.02250748  0.04079836  0.06286278
  -0.08934142 -0.01394454 -0.07401985  0.01538296  0.47817111  0.28774987
   0.4447335   0.29062818  0.03895     0.44375225  0.74294269  0.31446535
   0.19930716  0.46914531]]
Within-Cluster Sum of Squares (WCSS): 49.87048929708385
Cluster Labels: [39 67 23 73 34 18 69 67 61 11 15 48 35 93 48 19 25 64  2 47 12 56 40 64
 89 19 27 88  3 46 22 71 73 97 19 63 59 22 96 22 45 79 56 21 26 99 88 14
 64 66  0 30 73 62 22 76 79 77 72 31 91  3 17 80 71 81 34 33 26  0 34 30
 96 67 77 41 43 20 63 22 10 26 70 40 82 35 52  1 30 33 10 96 48 97 69 10
 89  3 67 83 52 45 52 64 55 17 19  2 80  5 45 27  5 45 99 83 28 69 22 23
 79 55 54 96 81 15 66 19  1 22 50 88 24 12 98 15 54 63 45 33 67 73 70 48
 81 15 66 34 34 87 38 72  3 78 52 48 17 63 43 64 42  5 72 70 99  7 40  1
 28 10 63 69 51 68 68 45 98 82  6 86 46  7 99 52 33 89 48 23 70 73 82 56
 65 10 95 41 85 30 97 71  0 53 54 95 72 96 96 33 19 81 88 65 11 81 94 82
 54 17 61 45 51 88 94 91 67 23 55 53 72 58 52 52 46 34 22 33 71 65 70 70
 17  1 80 80 51 45 73 16  7 88 34 17 57 45 45 77 67 19 70 64 82 65  0 51
  7 88 50 17 19 15 67 94 51 79 39 67 92 81 22 26 67 80 61 14 23  7 52 79
 41  7 32 61 71 50 71 18 77 94 89  1 33 28 10 99 39 48 98 15 14 54 17 15
 99 98 51  7 23 11 80 88 33 52 94  9  7 15 28 52 17 66  3 65 27 89 99 52
 27 65 94 92 39 67 60  3 10 34  3 19  0 77  4 11 46 68 70 80 10 24 10 97
  3  2  3 45 19 29 68 65 68 75  8 84 13 65 79 79 44 45 61 71 96 36 96 65
 64 89 20 26 22 66 41 82 92 40 40 83 30 17 64 68 88 10 22 65 40 65 52 84
 96 82 15 27 72 12  7 72 30 20 99 12 88 36 33 40 17 66 51  5 61 46 64 99
 88 14 52 84 87 11 82 88 41 64 33 43 49 28 92 26 83 70 94 99 17 56  2 75
 22 19 37 30 59 45 72 45 17 99 38 30 66 82 22 65  7 65 47 81 39 15 92 52
  5 97 14 33  0 83 18 41 64 24 86 67 90 67 53 66 56 66 41 17 88 85 43 26
 50 17  1 73 10  2 87 23  4 79 51 56 79 53 33 47 34 40 45 87 75 74 61 10
 26 80 44 96 71 89]
Cluster Centers: [[-0.05375032 -0.06793689 -0.15035346 ...  0.01246485  0.02776778
   0.03653074]
 [ 0.16716432  0.04938305 -0.1042923  ... -0.00191015  0.00561553
   0.00567912]
 [-0.12316228 -0.09549558 -0.09331999 ...  0.00250498  0.00357454
   0.00320036]
 ...
 [-0.08465956 -0.13540456  0.02271279 ...  0.00766271  0.00605475
   0.00255463]
 [-0.16312539 -0.03405326 -0.04300779 ...  0.00422249  0.00325706
   0.00178675]
 [-0.13273557 -0.08728466  0.14308109 ...  0.03182597  0.02160772
   0.01241987]]
Within-Cluster Sum of Squares (WCSS): 15.546878620348547

,CIK,Year,Embeddings,tic,caps,sale,at,ap,bkvlps,ceq,ch,ci,cogs,dp,Cluster_10,Cluster_100
0,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,0.006031,0.007853,0.002445,0.001834,0.028747,0.003288,0.003799,0.014841,0.007707,0.006553,0,39
1,1575515,2021,"[-0.023708730936050415, 0.01762891560792923, 0...",SFM,0.005416,0.021210,0.003848,0.002970,0.008355,0.005771,0.011475,0.010791,0.017843,0.005428,6,67
2,1125376,2021,"[0.04463111609220505, 0.0018805989529937506, 0...",ENSG,0.002842,0.009136,0.003752,0.001183,0.017888,0.006137,0.012267,0.008574,0.009918,0.002449,7,23
3,1674335,2021,"[-0.0054583558812737465, 0.04776754230260849, ...",JELD,0.005529,0.016592,0.004921,0.008524,0.009031,0.005063,0.018507,0.005800,0.016991,0.005872,2,73
4,1023128,2021,"[0.007417375687509775, -0.03694348409771919, -...",LAD,0.000448,0.079388,0.014673,0.004792,0.151675,0.027814,0.008178,0.046223,0.085217,0.005568,8,34

In [118]:
df_returns = pd.merge(merged_df, returns_long, on='tic', how='inner')
print(len(df_returns['tic'].unique()))
df_returns.head()

534

,CIK,Year,Embeddings,tic,caps,sale,at,ap,bkvlps,ceq,ch,ci,cogs,dp,Cluster_10,Cluster_100,Date,Return
0,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,0.006031,0.007853,0.002445,0.001834,0.028747,0.003288,0.003799,0.014841,0.007707,0.006553,0,39,2022-01-03,NaN
1,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,0.006031,0.007853,0.002445,0.001834,0.028747,0.003288,0.003799,0.014841,0.007707,0.006553,0,39,2022-01-04,0.016987
2,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,0.006031,0.007853,0.002445,0.001834,0.028747,0.003288,0.003799,0.014841,0.007707,0.006553,0,39,2022-01-05,-0.019981
3,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,0.006031,0.007853,0.002445,0.001834,0.028747,0.003288,0.003799,0.014841,0.007707,0.006553,0,39,2022-01-06,0.001434
4,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,0.006031,0.007853,0.002445,0.001834,0.028747,0.003288,0.003799,0.014841,0.007707,0.006553,0,39,2022-01-07,-0.002704

In [119]:
intra_corrs_10 = intra_industry_correlations(df_returns, "Cluster_10")
avg_intra_corr_10 = np.nanmean(list(intra_corrs_10.values()))
print(avg_intra_corr_10)

intra_corrs_100 = intra_industry_correlations(df_returns, "Cluster_100")
avg_intra_corr_100 = np.nanmean(list(intra_corrs_100.values()))
print(avg_intra_corr_100)

0.32369311944700674
0.4222348178665087

## Control experiment: All firms cluster to 1 category

In [66]:
merged_df['Cluster_1'] = np.ones(len(merged_df), dtype="int64")
merged_df.head()

,CIK,Year,Embeddings,tic,caps,sale,at,ap,bkvlps,ceq,ch,ci,cogs,dp,Cluster_10,Cluster_100,Cluster_1
0,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,-0.092269,-0.065152,-0.104331,-0.043879,0.512625,-0.123576,-0.149964,0.009492,-0.037193,-0.044028,1,55,1
1,1575515,2021,"[-0.023708730936050415, 0.01762891560792923, 0...",SFM,-0.106419,0.176978,-0.083594,-0.041736,-0.077995,-0.088745,-0.097851,-0.030230,0.147011,-0.068653,1,99,1
2,1125376,2021,"[0.04463111609220505, 0.0018805989529937506, 0...",ENSG,-0.165628,-0.041900,-0.085005,-0.045106,0.198113,-0.083609,-0.092479,-0.051983,0.002984,-0.133889,1,83,1
3,1674335,2021,"[-0.0054583558812737465, 0.04776754230260849, ...",JELD,-0.103811,0.093260,-0.067720,-0.031261,-0.058412,-0.098668,-0.050112,-0.079183,0.131534,-0.058936,1,99,1
4,1023128,2021,"[0.007417375687509775, -0.03694348409771919, -...",LAD,-0.220687,1.231641,0.076474,-0.038301,4.073046,0.220501,-0.120239,0.317287,1.371462,-0.065588,0,12,1

In [67]:
df_returns = pd.merge(merged_df, returns_long, on='tic', how='inner')
print(len(df_returns['tic'].unique()))
df_returns.head()

534

,CIK,Year,Embeddings,tic,caps,sale,at,ap,bkvlps,ceq,ch,ci,cogs,dp,Cluster_10,Cluster_100,Cluster_1,Date,Return
0,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,-0.092269,-0.065152,-0.104331,-0.043879,0.512625,-0.123576,-0.149964,0.009492,-0.037193,-0.044028,1,55,1,2022-01-03,NaN
1,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,-0.092269,-0.065152,-0.104331,-0.043879,0.512625,-0.123576,-0.149964,0.009492,-0.037193,-0.044028,1,55,1,2022-01-04,0.016987
2,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,-0.092269,-0.065152,-0.104331,-0.043879,0.512625,-0.123576,-0.149964,0.009492,-0.037193,-0.044028,1,55,1,2022-01-05,-0.019981
3,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,-0.092269,-0.065152,-0.104331,-0.043879,0.512625,-0.123576,-0.149964,0.009492,-0.037193,-0.044028,1,55,1,2022-01-06,0.001434
4,1704715,2021,"[0.014074714854359627, 0.006938479840755463, 0...",AMR,-0.092269,-0.065152,-0.104331,-0.043879,0.512625,-0.123576,-0.149964,0.009492,-0.037193,-0.044028,1,55,1,2022-01-07,-0.002704

In [68]:
intra_corrs_1 = intra_industry_correlations(df_returns, "Cluster_1")
avg_intra_corr_1 = np.nanmean(list(intra_corrs_1.values()))
print(avg_intra_corr_1)

0.30203190501983